{% extends "base.html" %}

{% block content %}
<h2>{{ user_profile.get_full_name }}</h2>

<h3>Public Albums</h3>
<ul>
  {% for album in public_albums %}
  <li><a href="{% url 'album_detail' album.pk %}">{{ album.title }}</a></li>
  {% endfor %}
</ul>

<h3>Public Photos</h3>
<ul>
  {% for photo in public_photos %}
  <li>
    <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" width="100" height="100"> 
    <p>{{ photo.caption }}</p>
  </li>
  {% endfor %}
</ul>

{% if user == user_profile %}
  <h3>Private Albums</h3>
  <ul>
    {% for album in private_albums %}
    <li><a href="{% url 'album_detail' album.pk %}">{{ album.title }}</a></li>
    {% endfor %}
  </ul>

  <h3>Private Photos</h3>
  <ul>
    {% for photo in private_photos %}
    <li>
      <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" width="100" height="100"> 
      <p>{{ photo.caption }}</p>
    </li>
    {% endfor %}
  </ul>

  <h3><a href="{% url 'user_favorites' %}">View Favorites</a></h3>
{% endif %}
{% endblock %}
